<section class="ms-5 container passCon ">
    
    <div class="leftSidePass">
    <h4 class="text-center">Change Password</h4>
    <form [formGroup]="EditPassword" (ngSubmit)="editPassword()"> 
       
         <div class="mb-3 ">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="oldPassword" class="form-control" id="oldPassword" formControlName="oldPassword">
            <div class="alert alert-danger mt-2  p-1"
                *ngIf="isSubmitted || (oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched))">
                <ul>
                    <li *ngIf="oldPassword?.errors?.required">old Password is Required</li>
                    <li *ngIf="oldPassword?.errors?.minlength">old Password must be more than 6 chars</li>
                    <li *ngIf="oldPassword?.errors?.maxlength">old Password must be less than 10 chars</li>
                </ul>
            </div>
        </div> 

       
          <div class="mb-3 ">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="newPassword" class="form-control" id="newPassword" formControlName="newPassword">
            <div class="alert alert-danger mt-2   p-1"
                *ngIf="isSubmitted || (newPassword?.invalid && (newPassword?.dirty || newPassword?.touched))">
                <ul>
                    <li *ngIf="newPassword?.errors?.required">new Password is Required</li>
                    <li *ngIf="newPassword?.errors?.minlength">new Password must be more than 6 chars</li>
                    <li *ngIf="newPassword?.errors?.maxlength">new Password must be less than 10 chars</li>
                </ul>
            </div>
        </div>  

         <button type="submit" class="btn  cartBtn" >Change</button>
    </form> 
</div>
    <div class="rightSidePass">
        <div *ngIf="msg">
            <div class="alert alert-secondary" style="text-align: center;margin-left: 100px; " role="alert">{{ msg }}</div>
        
            </div>
        <div id="passcont"><img src="assets/images/mod.jpg" alt="" id="passwImg"></div>
    </div>
</section>