<div class="container ">

    

    <div class="d-flex justify-content-around row row-cols-3 mt-5">
        <button  routerLink="/Admin/ShowAllProducts" class="card text-white  mb-3" style="max-width: 18rem;background-color: #a3adb8;">
   
            <div class="card-body">
              <h5 class="card-title">Show All Products</h5>
              <img src="assets/images/allproducts.png" alt="pic" height=200px;>        </div>
          </button>
    
        <button routerLink="/Admin/ShowAllUser" class="card text-white mb-3" style="max-width: 18rem;background-color: #a3adb8;">
   
            <div class="card-body">
                <h5 class="card-title">Show Users</h5>
                <img src="assets/images/users.png" alt="pic" height=200px;>
            </div>
          </button>

        
    
    

    
      <button  routerLink="/Admin/AddProducts" class="card text-white mb-3" style="max-width: 18rem;background-color:#a3adb8">
   
        <div class="card-body">
          <h5 class="card-title">Add Products</h5>
          <img src="assets/images/addproduct.png" alt="pic" height=200px;>
        </div>
      </button>
     

      
      <button  routerLink="/Admin/UserBills" class="card text-white mb-3" style="max-width: 18rem;background-color: #a3adb8;">
   
        <div class="card-body">
          <h5 class="card-title">Users Bills</h5>
          <img src="assets/images/userbills.png" alt="pic" height=200px;>
        </div>
      </button>


      <button  routerLink="/Admin/Home" class="card text-white mb-3" style="max-width: 18rem;background-color: #a3adb8;">
   
        <div class="card-body">
          <h5 class="card-title">Home</h5>
          <img src="assets/images/home.png" alt="pic" height=200px;>
        </div>
      </button>
      <button  (click)='logOutAdmin()' routerLink="/Admin/UserBills" class="card text-white mb-3" style="max-width: 18rem;background-color: #a3adb8;">
   
        <div class="card-body">
          <h5 class="card-title">LogOut</h5>
          <img src="assets/images/log.png" alt="pic" height=200px;>
        </div>
      </button>
</div>


</div>